.dd {
  position: relative;
  max-width: 100% !important;
}
.dd .dd-handle {
  border: 1px solid #f0f0f0 !important;
  /* font-family: tahoma, arial, verdana, sans-serif !important; */
  font-size: 14px;
  padding: 5px 15px;
  margin: 3px 0;
}
.dd .dd-handle:hover {
  background: #fff !important;
}
.dd .btn-container {
  position: absolute;
  padding: 6px;
  top: 0;
  right: 0;
}

/*edited*/
.dd-item > button[data-action="collapse"] {
  font-size: 16px !important;
}
.dd-item > button[data-action="collapse"]:before {
  content: "\f147" !important;
  color: #4c4c4c !important;
}
.dd-item > button[data-action="expand"] {
  font-size: 16px !important;
}
.dd-item > button[data-action="expand"]:before {
  content: "\f196" !important;
  color: #4c4c4c !important;
}
 

.dd-item > ol {
  padding-left: 30px !important;
}
.dd-list.dd-dragel .dd-handle {
  font-size: 11px !important;
}
.dd-list.dd-dragel .btn-container {
  position: absolute;
  padding: 6px;
  top: 0;
  right: 0;
}
/*edited*/
/* .dd-list > .dd-item > .dd-handle {
  text-transform: uppercase !important;
} */
.dd-list > .dd-item > .dd-handle > img {
  height: 1em;
}
* ::-webkit-scrollbar {
  width: 10px;
  background-color: #edecec;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
* ::-webkit-scrollbar:hover {
  background-color: #edecec;
}
* ::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid transparent;
  min-height: 10px;
}
* ::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid transparent;
  min-width: 10px;
}
* ::-moz-scrollbar {
  width: 10px;
  background-color: #edecec;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
* ::-moz-scrollbar:hover {
  background-color: #edecec;
}
* ::-moz-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid transparent;
  min-height: 10px;
}
* ::-moz-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid transparent;
  min-width: 10px;
}
* ::scrollbar {
  width: 10px;
  background-color: #edecec;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
* ::scrollbar:hover {
  background-color: #edecec;
}
* ::scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid transparent;
  min-height: 10px;
}
* ::scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid transparent;
  min-width: 10px;
}

/* 8888 */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}
.dd-empty,
.dd-item,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
.dd-handle {
  display: block;
  font-size: 15px;
  margin: 5px 0;
  padding: 7px 15px;
  color: #333;
  text-decoration: none;
  border: 1px solid #cfcfcf;
  background: #fbfbfb;
}
.dd-item > button {
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 7px 10px;
  line-height: 22px !important;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
.dd-item > button:before {
  content: "\f055";
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #0091d9;
}
.dd-item > button[data-action="collapse"]:before {
  content: "\f056";
  color: #a90329;
}
.dd-empty,
.dd-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(
      45deg,
      #fff 25%,
      transparent 25%,
      transparent 75%,
      #fff 75%,
      #fff
    ),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff
          75%, #fff);
  background-image: -moz-linear-gradient(
      45deg,
      #fff 25%,
      transparent 25%,
      transparent 75%,
      #fff 75%,
      #fff
    ),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff
          75%, #fff);
  background-image: linear-gradient(
      45deg,
      #fff 25%,
      transparent 25%,
      transparent 75%,
      #fff 75%,
      #fff
    ),
    linear-gradient(
      45deg,
      #fff 25%,
      transparent 25%,
      transparent 75%,
      #fff 75%,
      #fff
    );
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}
#nestable-menu {
  padding: 0;
  margin: 10px 0 20px;
}
#nestable-output,
#nestable2-output {
  width: 100%;
  padding: 5px;
}
@media only screen and (min-width: 700px) {
  .dd {
    float: left;
    width: 100%;
  }
  .dd + .dd {
    margin-left: 2%;
  }
}
.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}
.dd3-content {
  display: block;
  margin: 5px 0;
  padding: 6px 10px 8px 40px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  border: 1px solid #cfcfcf;
  background: #fbfbfb;
}
.dd3-content:hover {
  color: #2ea8e5;
  background: #fff;
}
.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}
.dd3-item > button {
  margin-left: 38px;
}
.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: move;
  width: 30px;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aaa;
  background: #bfbfbf;
  background: -webkit-linear-gradient(top, #ddd 0, #bbb 100%);
  background: -moz-linear-gradient(top, #ddd 0, #bbb 100%);
  background: linear-gradient(top, #ddd 0, #bbb 100%);
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  padding: 8px 15px;
}
.dd3-handle:before {
  content: "\f0c9";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #818181;
  font-weight: 400;
  line-height: 28px;
}
.dd3-handle:hover:before {
  color: #c27616;
}
.dd-handle:hover,
.dd-handle:hover + .dd-list .dd-handle {
  background: #fddfb3 !important;
  border: 1px solid #faa937;
  color: #333 !important;
}
.dd-handle > span {
  font-size: 13px;
  color: #777;
}
.dd-dragel > .dd-item > .dd-handle {
  border-left-width: 4px;
}
.dd-dragel > li.dd-item.dd3-item {
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 999;
}